---
layout: base
---
<article class="mw8 center pl3 pr3 mb4" itemscope
  itemtype="http://schema.org/BlogPosting">

  <header class="measure-wide center">
    <h1 class="lh-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p>
      <time datetime="{{ page.date | date_to_xmlschema }}"
        itemprop="datePublished">
        {% assign date_format = site.minima.date_format | default: "%B %-d, %Y" %}
        {{ page.date | date: date_format }}
      </time>
      {% if page.author %}
      • <span itemprop="author" itemscope
        itemtype="http://schema.org/Person"><span
          itemprop="name">{{ page.author }}</span></span>
      {% endif %}</p>
  </header>

  <section id="blog-body" class="measure-wide center lh-copy serif" itemprop="articleBody">
    {{ content }}
  </section>

  {% if site.disqus.shortname %}
  {% include disqus_comments.html %}
  {% endif %}
</article>